# CONFIG BINDER PRIO
CONFIG_ARCH_CROW=y
CONFIG_ARCH_KAKA=y
CONFIG_ARCH_KALAMA=y
CONFIG_ARCH_QCOM=y
CONFIG_ARM_QCOM_CPUFREQ_HW=y
CONFIG_ARM_SMMU=y
CONFIG_ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT=y
# CONFIG_ARM_SMMU_SELFTEST is not set
CONFIG_BLK_DEV_NVME=y
CONFIG_CFG80211=y
# CONFIG_CFG80211_CERTIFICATION_ONUS is not set
# CONFIG_CFG80211_CRDA_SUPPORT is not set
# CONFIG_CFG80211_DEBUGFS is not set
# CONFIG_CFG80211_DEFAULT_PS is not set
# CONFIG_CFG80211_DEVELOPER_WARNINGS is not set
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=y
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=y
# CONFIG_CFG80211_WEXT is not set
# CONFIG_CHARGER_QCOM_SMBB is not set
CONFIG_CHR_DEV_SG=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_CTI=y
CONFIG_CORESIGHT_DUMMY=y
CONFIG_CORESIGHT_HWEVENT=y
CONFIG_CORESIGHT_LINKS_AND_SINKS=y
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=y
CONFIG_CORESIGHT_REMOTE_ETM=y
CONFIG_CORESIGHT_STM=y
CONFIG_CORESIGHT_TGU=y
CONFIG_CORESIGHT_TPDA=y
CONFIG_CORESIGHT_TPDM=y
CONFIG_CPU_IDLE_GOV_QCOM_LPM=y
CONFIG_DRM_LT9611UXC=y
CONFIG_EDAC_QCOM=y
# CONFIG_EDAC_QCOM_LLCC_PANIC_ON_CE is not set
CONFIG_EDAC_QCOM_LLCC_PANIC_ON_UE=y
# CONFIG_EXT4_KUNIT_TESTS is not set
# CONFIG_FAT_KUNIT_TEST is not set
CONFIG_GH_ARM64_DRV=y
CONFIG_GH_CTRL=y
CONFIG_GH_DBL=y
# CONFIG_GH_GUEST_POPS is not set
CONFIG_GH_IRQ_LEND=y
CONFIG_GH_MEM_NOTIFIER=y
CONFIG_GH_MSGQ=y
CONFIG_GH_PROXY_SCHED=y
CONFIG_GH_RM_DRV=y
CONFIG_GH_SECURE_VM_LOADER=y
CONFIG_GH_TLMM_VM_MEM_ACCESS=y
CONFIG_GH_VIRT_WATCHDOG=y
CONFIG_GUNYAH=y
CONFIG_GUNYAH_DRIVERS=y
CONFIG_HVC_GUNYAH=y
# CONFIG_HVC_GUNYAH_CONSOLE is not set
CONFIG_HWSPINLOCK_QCOM=y
CONFIG_I2C_EUSB2_REPEATER=y
CONFIG_I2C_MSM_GENI=y
CONFIG_I3C_MASTER_MSM_GENI=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_INPUT_PM8941_PWRKEY=y
# CONFIG_INPUT_PM8XXX_VIBRATOR is not set
CONFIG_INPUT_QCOM_HV_HAPTICS=y
# CONFIG_INPUT_AW86927_HAPTIC=y
CONFIG_INTERCONNECT_QCOM=y
CONFIG_INTERCONNECT_QCOM_BCM_VOTER=y
CONFIG_INTERCONNECT_QCOM_CROW=y
CONFIG_INTERCONNECT_QCOM_DEBUG=y
CONFIG_INTERCONNECT_QCOM_KALAMA=y
CONFIG_INTERCONNECT_QCOM_QOS=y
CONFIG_INTERCONNECT_QCOM_RPMH=y
CONFIG_INTERCONNECT_QCOM_RPMH_POSSIBLE=y
CONFIG_INTERCONNECT_TEST=y
CONFIG_IOMMU_IO_PGTABLE_FAST=y
# CONFIG_IOMMU_IO_PGTABLE_FAST_PROVE_TLB is not set
# CONFIG_IOMMU_IO_PGTABLE_FAST_SELFTEST is not set
CONFIG_IPA3=y
CONFIG_IPC_LOGGING=y
CONFIG_IPC_LOG_MINIDUMP_BUFFERS=16
# CONFIG_KASAN_KUNIT_TEST is not set
# CONFIG_KFENCE_KUNIT_TEST is not set
CONFIG_KUNIT=y
# CONFIG_KUNIT_ALL_TESTS is not set
CONFIG_KUNIT_DEBUGFS=y
# CONFIG_KUNIT_EXAMPLE_TEST is not set
# CONFIG_KUNIT_TEST is not set
CONFIG_LEDS_QTI_FLASH=y
CONFIG_LEDS_QTI_TRI_LED=y
CONFIG_MAC80211=y
# CONFIG_MAC80211_DEBUGFS is not set
# CONFIG_MAC80211_DEBUG_MENU is not set
# CONFIG_MAC80211_HWSIM is not set
# CONFIG_MAC80211_LEDS is not set
# CONFIG_MAC80211_MESH is not set
# CONFIG_MAC80211_MESSAGE_TRACING is not set
CONFIG_MAC80211_RC_DEFAULT=""
# CONFIG_MAC80211_RC_MINSTREL is not set
CONFIG_MAX31760_FAN_CONTROLLER=y
CONFIG_MEM_SHARE_QMI_SERVICE=y
CONFIG_MFD_SPMI_PMIC=y
# CONFIG_MFD_WCD934X is not set
CONFIG_MHI_BUS=y
CONFIG_MHI_BUS_MISC=y
CONFIG_MHI_DTR=y
CONFIG_MHI_NETDEV=y
CONFIG_MHI_QCOM=y
CONFIG_MHI_SATELLITE=y
CONFIG_MHI_UCI=y
CONFIG_MINIDUMP_MAX_ENTRIES=200
CONFIG_MMC_SDHCI_MSM=y
# CONFIG_MODULE_SIG_ALL is not set
CONFIG_MSM_ADSPRPC=y
CONFIG_MSM_BOOT_STATS=y
CONFIG_MSM_CDSP_LOADER=y
CONFIG_MSM_CORE_HANG_DETECT=y
CONFIG_MSM_GLOBAL_SYNX=y
CONFIG_MSM_GPI_DMA=y
# CONFIG_MSM_GPI_DMA_DEBUG is not set
CONFIG_MSM_PERFORMANCE=y
CONFIG_MSM_QBT_HANDLER=y
CONFIG_MSM_QMP=y
CONFIG_MSM_RDBG=y
CONFIG_MSM_SYSSTATS=y
CONFIG_MSM_TMECOM_QMP=y
CONFIG_NL80211_TESTMODE=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_NVME_CORE=y
# CONFIG_NVME_MULTIPATH is not set
CONFIG_PCI_MSM=y
CONFIG_PDR_INDICATION_NOTIF_TIMEOUT=9000
CONFIG_PHY_QCOM_UFS=y
CONFIG_PHY_QCOM_UFS_QRBTC_SDM845=y
CONFIG_PHY_QCOM_UFS_V4=y
CONFIG_PINCTRL_CROW=y
CONFIG_PINCTRL_KALAMA=y
CONFIG_PINCTRL_QCOM_SPMI_PMIC=y
# CONFIG_PM8916_WATCHDOG is not set
CONFIG_POWER_RESET_QCOM_DOWNLOAD_MODE=y
CONFIG_POWER_RESET_QCOM_DOWNLOAD_MODE_DEFAULT=y
CONFIG_POWER_RESET_QCOM_PON=y
CONFIG_POWER_RESET_QCOM_REBOOT_REASON=y
# CONFIG_PRISM2_USB is not set
CONFIG_PWM_QTI_LPG=y
CONFIG_QCOM_ADSP_SLEEPMON=y
CONFIG_QCOM_AOSS_QMP=y
CONFIG_QCOM_BALANCE_ANON_FILE_RECLAIM=y
CONFIG_QCOM_BAM_DMA=y
CONFIG_QCOM_BWMON=y
CONFIG_QCOM_CDSP_RM=y
CONFIG_QCOM_CLK_RPMH=y
# CONFIG_QCOM_COINCELL is not set
CONFIG_QCOM_COMMAND_DB=y
CONFIG_QCOM_CPUSS_SLEEP_STATS=y
CONFIG_QCOM_CPU_VENDOR_HOOKS=y
CONFIG_QCOM_DCC_V2=y
CONFIG_QCOM_DCVS=y
CONFIG_QCOM_DCVS_FP=y
CONFIG_QCOM_DEBUG_SYMBOL=y
CONFIG_QCOM_DMABUF_HEAPS=y
CONFIG_QCOM_DMABUF_HEAPS_BITSTREAM_CONTIG=y
CONFIG_QCOM_DMABUF_HEAPS_CARVEOUT=y
CONFIG_QCOM_DMABUF_HEAPS_CMA=y
CONFIG_QCOM_DMABUF_HEAPS_PAGE_POOL_REFILL=y
CONFIG_QCOM_DMABUF_HEAPS_SYSTEM=y
CONFIG_QCOM_DMABUF_HEAPS_SYSTEM_SECURE=y
# CONFIG_QCOM_DMABUF_HEAPS_SYSTEM_UNCACHED is not set
CONFIG_QCOM_DYN_MINIDUMP_STACK=y
CONFIG_QCOM_ESOC=y
CONFIG_QCOM_ESOC_CLIENT=y
# CONFIG_QCOM_ESOC_DBG_ENG is not set
CONFIG_QCOM_ESOC_DEBUG=y
CONFIG_QCOM_ESOC_DEV=y
CONFIG_QCOM_ESOC_MDM_4X=y
CONFIG_QCOM_ESOC_MDM_DRV=y
CONFIG_QCOM_EUD=y
CONFIG_QCOM_FORCE_WDOG_BITE_ON_PANIC=y
CONFIG_QCOM_FSA4480_I2C=y
CONFIG_QCOM_GDSC_REGULATOR=y
CONFIG_QCOM_GLINK=y
CONFIG_QCOM_GLINK_PKT=y
# CONFIG_QCOM_GUESTVM is not set
CONFIG_QCOM_HUNG_TASK_ENH=y
CONFIG_QCOM_IOMMU_DEBUG=y
CONFIG_QCOM_IOMMU_UTIL=y
# CONFIG_QCOM_IPA is not set
CONFIG_QCOM_IRQ_STAT=y
CONFIG_QCOM_LAZY_MAPPING=y
CONFIG_QCOM_LLCC=y
CONFIG_QCOM_LLCC_PERFMON=y
CONFIG_QCOM_LLCC_PMU=y
CONFIG_QCOM_LOGBUF_VENDOR_HOOKS=y
CONFIG_QCOM_MDT_LOADER=y
CONFIG_QCOM_MEMLAT=y
CONFIG_QCOM_MEMORY_DUMP_V2=y
CONFIG_QCOM_MEM_BUF=y
CONFIG_QCOM_MEM_BUF_DEV=y
CONFIG_QCOM_MEM_BUF_GH=y
CONFIG_QCOM_MEM_BUF_MSGQ=y
CONFIG_QCOM_MEM_HOOKS=y
CONFIG_QCOM_MEM_OFFLINE=y
CONFIG_QCOM_MICRODUMP=y
CONFIG_QCOM_MINIDUMP=y
CONFIG_QCOM_MINIDUMP_FTRACE=y
CONFIG_QCOM_MINIDUMP_PANIC_CPU_CONTEXT=y
CONFIG_QCOM_MINIDUMP_PANIC_DUMP=y
CONFIG_QCOM_MINIDUMP_PSTORE=y
CONFIG_QCOM_MSM_IPCC=y
CONFIG_QCOM_PANEL_EVENT_NOTIFIER=y
CONFIG_QCOM_PANIC_ON_NOTIF_TIMEOUT=y
CONFIG_QCOM_PANIC_ON_PDR_NOTIF_TIMEOUT=y
CONFIG_QCOM_PDC=y
CONFIG_QCOM_PDR_HELPERS=y
CONFIG_QCOM_PIL_INFO=y
CONFIG_QCOM_PMU_LIB=y
# CONFIG_QCOM_Q6V5_ADSP is not set
CONFIG_QCOM_Q6V5_COMMON=y
# CONFIG_QCOM_Q6V5_MSS is not set
CONFIG_QCOM_Q6V5_PAS=y
# CONFIG_QCOM_Q6V5_WCSS is not set
CONFIG_QCOM_QDSS_BRIDGE=y
CONFIG_QCOM_QFPROM=y
CONFIG_QCOM_QMI_HELPERS=y
CONFIG_QCOM_RAMDUMP=y
CONFIG_QCOM_RIMPS=y
CONFIG_QCOM_RPMH=y
CONFIG_QCOM_RPROC_COMMON=y
CONFIG_QCOM_RUN_QUEUE_STATS=y
CONFIG_QCOM_SCM=y
CONFIG_QCOM_SECURE_BUFFER=y
CONFIG_QCOM_SHOW_RESUME_IRQ=y
CONFIG_QCOM_SMEM=y
CONFIG_QCOM_SMP2P=y
CONFIG_QCOM_SMP2P_SLEEPSTATE=y
# CONFIG_QCOM_SMSM is not set
CONFIG_QCOM_SOCINFO=y
CONFIG_QCOM_SOC_SLEEP_STATS=y
# CONFIG_QCOM_SOC_WATCHDOG is not set
CONFIG_QCOM_SPMI_ADC5_GEN3=y
CONFIG_QCOM_SPMI_TEMP_ALARM=y
# CONFIG_QCOM_SPSS is not set
CONFIG_QCOM_SUBSYSTEM_SLEEP_STATS=y
CONFIG_QCOM_SYSMON=y
CONFIG_QCOM_SYSMON_SUBSYSTEM_STATS=y
CONFIG_QCOM_TSENS=y
CONFIG_QCOM_VADC_COMMON=y
CONFIG_QCOM_VA_MINIDUMP=y
CONFIG_QCOM_VM_DMESG_DUMPER=y
CONFIG_QCOM_WATCHDOG_BARK_TIME=20000
CONFIG_QCOM_WATCHDOG_IPI_PING=y
CONFIG_QCOM_WATCHDOG_PET_TIME=15000
# CONFIG_QCOM_WATCHDOG_USERSPACE_PET is not set
CONFIG_QCOM_WATCHDOG_WAKEUP_ENABLE=y
# CONFIG_QCOM_WCNSS_PIL is not set
# CONFIG_QCOM_WDOG_BITE_EARLY_PANIC is not set
CONFIG_QCOM_WDT_CORE=y
CONFIG_QRTR=y
CONFIG_QRTR_GUNYAH=y
CONFIG_QRTR_MHI=y
CONFIG_QRTR_SMD=y
# CONFIG_QRTR_TUN is not set
CONFIG_QSEECOM_PROXY=y
CONFIG_QSEE_IPC_IRQ_BRIDGE=y
CONFIG_QTI_ALTMODE_GLINK=y
CONFIG_QTI_BATTERY_CHARGER=y
CONFIG_QTI_BATTERY_GLINK_DEBUG=y
CONFIG_QTI_BCL_PMIC5=y
CONFIG_QTI_BCL_SOC_DRIVER=y
CONFIG_QTI_C1DCVS_SCMI_CLIENT=y
CONFIG_QTI_CHARGER_ULOG_GLINK=y
CONFIG_QTI_CPUFREQ_CDEV=y
CONFIG_QTI_CPUFREQ_STATS_SCMI_CLIENT=y
CONFIG_QTI_CPU_HOTPLUG_COOLING_DEVICE=y
CONFIG_QTI_CPU_PAUSE_COOLING_DEVICE=y
CONFIG_QTI_CPU_VOLTAGE_COOLING_DEVICE=y
CONFIG_QTI_CRYPTO_COMMON=y
CONFIG_QTI_DDR_COOLING_DEVICE=y
CONFIG_QTI_DEVFREQ_CDEV=y
CONFIG_QTI_HW_KEY_MANAGER=y
CONFIG_QTI_HW_MEMLAT_SCMI_CLIENT=y
CONFIG_QTI_IOMMU_SUPPORT=y
CONFIG_QTI_PMIC_EUSB2_REPEATER=y
CONFIG_QTI_PMIC_GLINK=y
# CONFIG_QTI_PMIC_GLINK_CLIENT_DEBUG is not set
CONFIG_QTI_PMIC_PON_LOG=y
CONFIG_QTI_PMU_SCMI_CLIENT=y
CONFIG_QTI_POLICY_ENGINE_SENSOR=y
CONFIG_QTI_QMI_COOLING_DEVICE=y
CONFIG_QTI_QMI_SENSOR_V2=y
CONFIG_QTI_RIMPS_LOG=y
CONFIG_QTI_SCMI_C1DCVS_PROTOCOL=y
CONFIG_QTI_SCMI_CPUFREQ_STATS_PROTOCOL=y
CONFIG_QTI_SCMI_MEMLAT_PROTOCOL=y
CONFIG_QTI_SCMI_PMU_PROTOCOL=y
CONFIG_QTI_SDPM_CLOCK_MONITOR=y
CONFIG_QTI_SYS_PM_VX=y
CONFIG_QTI_THERMAL_LIMITS_DCVS=y
CONFIG_QTI_THERMAL_MINIDUMP=y
CONFIG_QTI_USERSPACE_CDEV=y
# CONFIG_R8188EU is not set
# CONFIG_R8712U is not set
CONFIG_REBOOT_MODE=y
CONFIG_REGMAP_QTI_DEBUGFS=y
# CONFIG_REGMAP_QTI_DEBUGFS_ALLOW_WRITE is not set
CONFIG_REGMAP_SPMI=y
CONFIG_REGULATOR_DEBUG_CONTROL=y
CONFIG_REGULATOR_PROXY_CONSUMER=y
# CONFIG_REGULATOR_PROXY_CONSUMER_LEGACY is not set
CONFIG_REGULATOR_QTI_FIXED_VOLTAGE=y
CONFIG_REGULATOR_QTI_OCP_NOTIFIER=y
CONFIG_REGULATOR_RPMH=y
CONFIG_REGULATOR_STUB=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_RPMSG_QCOM_GLINK_SMEM=y
# CONFIG_RPMSG_QCOM_GLINK_SPSS is not set
CONFIG_RPMSG_QCOM_SMD=y
CONFIG_RPROC_SSR_NOTIF_TIMEOUT=20000
CONFIG_RPROC_SYSMON_NOTIF_TIMEOUT=20000
CONFIG_RTC_DRV_PM8XXX=y
# CONFIG_RTC_LIB_KUNIT_TEST is not set
# CONFIG_RTL8723BS is not set
CONFIG_SCHED_WALT=y
CONFIG_SCSI_UFS_CRYPTO_QTI=y
CONFIG_SCSI_UFS_QCOM=y
CONFIG_SERIAL_MSM_GENI=y
CONFIG_SHOW_SUSPEND_EPOCH=y
CONFIG_SLIMBUS=y
# CONFIG_SLIM_QCOM_CTRL is not set
CONFIG_SLIM_QCOM_NGD_CTRL=y
CONFIG_SM_CAMCC_KALAMA=y
CONFIG_SM_DEBUGCC_KALAMA=y
CONFIG_SM_DISPCC_KALAMA=y
CONFIG_SM_GCC_KALAMA=y
CONFIG_SM_GPUCC_KALAMA=y
CONFIG_SM_TCSRCC_KALAMA=y
CONFIG_SM_VIDEOCC_KALAMA=y
# CONFIG_SND_SOC_TOPOLOGY_KUNIT_TEST is not set
# CONFIG_SND_SOC_WCD9335 is not set
CONFIG_INPUT_FINGERPRINT=y
CONFIG_FINGERPRINT_GOODIX_FOD=y
CONFIG_SND_USB_AUDIO_QMI=y
CONFIG_SPI_MSM_GENI=y
CONFIG_SPMI_MSM_PMIC_ARB=y
CONFIG_SPMI_MSM_PMIC_ARB_DEBUG=y
CONFIG_SPMI_QTI_GLINK_DEBUG=y
CONFIG_SPS=y
# CONFIG_SPS_SUPPORT_BAMDMA is not set
CONFIG_SPS_SUPPORT_NDP_BAM=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_STM_PROTO_OST=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_STM_SOURCE_FTRACE=y
# CONFIG_SWIOTLB_NONLINEAR is not set
# CONFIG_TIME_KUNIT_TEST is not set
CONFIG_UCSI_QTI_GLINK=y
CONFIG_UIO_MSM_SHAREDMEM=y
CONFIG_USB_BAM=y
CONFIG_USB_CONFIGFS_F_CCID=y
CONFIG_USB_CONFIGFS_F_CDEV=y
CONFIG_USB_CONFIGFS_F_DIAG=y
CONFIG_USB_CONFIGFS_F_GSI=y
CONFIG_USB_CONFIGFS_F_QDSS=y
CONFIG_USB_DWC3_MSM=y
CONFIG_USB_EHSET_TEST_FIXTURE=y
CONFIG_USB_F_CCID=y
CONFIG_USB_F_CDEV=y
CONFIG_USB_F_DIAG=y
CONFIG_USB_F_FS_IPC_LOGGING=y
CONFIG_USB_F_GSI=y
CONFIG_USB_F_QDSS=y
CONFIG_USB_M31_MSM_EUSB2_PHY=y
CONFIG_USB_MON=y
CONFIG_USB_MSM_EUSB2_PHY=y
CONFIG_USB_MSM_SSPHY_QMP=y
# CONFIG_USB_NET_RNDIS_WLAN is not set
CONFIG_USB_QCOM_EMU_PHY=y
CONFIG_USB_REDRIVER=y
CONFIG_USB_REDRIVER_NB7VPQ904M=y
CONFIG_USB_REPEATER=y
# CONFIG_VIDEO_QCOM_VENUS is not set
CONFIG_LIRC=y
CONFIG_RC_CORE=y
CONFIG_RC_DECODERS=y
CONFIG_RC_DEVICES=y
CONFIG_IR_SPI=y
CONFIG_VIRT_DRIVERS=y
# CONFIG_VIRT_WIFI is not set
# CONFIG_VT6655 is not set
# CONFIG_VT6656 is not set
# CONFIG_WFX is not set
# CONFIG_WILC1000_SDIO is not set
# CONFIG_WILC1000_SPI is not set

CONFIG_MI_HARDWARE_ID=y
CONFIG_REGULATOR_WL2866D=y
CONFIG_WIRELESS_REVERSE_CLOSE=y
CONFIG_XLOGCHAR=y
CONFIG_MI_CNSS_STATISTIC=y
CONFIG_MTD=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_BLOCK2MTD=y
CONFIG_MTD_OOPS=y
CONFIG_MIHW=y
CONFIG_MI_POWER_INFO=y
CONFIG_NETFILTER_XT_MATCH_CONNBYTES=y
CONFIG_MI_DUMP_DISPLAY=y
CONFIG_MI_FREQ_QOS=y
CONFIG_REGULATOR_WL2868C=y
